asgiref==3.11.0
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
pillow==12.1.1
psycopg==3.3.2
psycopg2-binary==2.9.11
PyJWT==2.11.0
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
